@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

header {
  background: #2f2963;
  min-height: 10vh;
  color: #fff;
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

main {
  min-height: 80vh;
}

footer {
  /* background: #C4A77D; for hover effect*/
  /* background: #CEF946C; for shadow*/

  background: #454372;
  min-height: 10vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-content,
.main-content,
.footer-content {
  width: 90%;
  margin-inline: auto;
}

.footer-content {
  color: #fff;
  height: 100%;
  padding-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-content a {
  text-decoration: none;
}

.footer-content a:hover {
  color: #ef946c;
}

.footer-content ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  list-style: none;
  font-size: 1.2rem;
}

.footer-content h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

footer .important-links {
  display: flex;
  flex-wrap: wrap;
}

.copyright {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  list-style: none;
  font-size: 1.5rem;
  padding-block: 0.5rem;
  color: rgb(165, 154, 154);
}

.header-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  flex-wrap: wrap;
}

.header-content .logo {
  order: 0;
  /* flex: 1; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  cursor: pointer;
}

.header-content .logo:hover > a {
  color: #fff;
}

.header-content .logo:hover > i {
  color: #e6916d;
}

.sign-in-and-cart {
  display: flex;
  gap: 2rem;
  align-items: center;
  order: 1;
  /* flex: 1; */
}

.search-bar {
  order: 2;
  flex: 1;
  width: 100%;
  margin-inline: 10rem;
  display: flex;
  border: 2px solid #da6635;
  border-radius: 1rem;
  overflow: hidden;
  height: 4.2rem;
}

.search-bar input[type="search"] {
  width: 100%;
  /* border: 1px solid yellow; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.search-bar button {
  all: unset;
  cursor: pointer;
  background: #ef946c;
  padding-block: 0.7rem;
  padding-inline: 1.3rem;
}

#category-list-holder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #f7f7f7b6;
  white-space: nowrap;
  color: #000;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
}

#category-list-holder:hover {
  background: #c7c5c5b6;
  cursor: pointer;
}

#category-list-holder label {
  cursor: pointer;
}

#category-select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  all: unset;
}

#category-select option {
  padding: 1rem;
}
.search-bar button:hover {
  background: #da6635;
}

.sign-in span {
  font-size: 1.2rem;
}

.sign-in .fa-user {
  padding-inline: 1rem;
}

header a:hover {
  color: #ef946c;
}

.list-by-category {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-inline: 1.5rem;
}

#catergory-listed {
  text-transform: capitalize;
}

#catergory-listed label {
  padding-inline-end: 1rem;
}

.products h2 {
  text-transform: capitalize;
}

#product-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-block-end: 2rem;
}

.product-card {
  width: 25rem;
  height: 50rem;
  overflow: hidden;
  padding: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: rgba(109, 66, 2, 0.3) 0px 3px 6px 0px,
    rgba(150, 116, 5, 0.15) 0px 3px 6px 1px;
}

.product-image {
  height: 50%;
  width: 100%;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product-details h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.product-details h3:hover {
  color: #ef946c;
}

.product-details p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
}

.count {
  color: #1c1274;
}

.product-details h4 {
  margin-block: 0.7rem;
}

.product-details h4 small {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  vertical-align: super;
}

.product-details .price {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.fa-star,
.fa-star-o {
  background: #ef946c;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.product-card-single {
  width: 39rem;
  min-height: 78rem;
}

/* .partial-star-holder {
  position: relative;
  width: 100%;
}

.partial-star {
  width: 50%;
  position: absolute;
  top: 0;
}
.partial-star-over {
  position: absolute;
  top: 0;
} */

@media (min-width: 510px) {
  .search-bar {
    order: 0;
    width: 100%;
    /* flex: 1; */
  }
}

@media (max-width: 1076px) {
  #category-list-holder {
    display: none;
  }
}

@media (max-width: 510px) {
  .footer-content {
    display: block;
    margin-inline: auto;
  }

  .footer-content .important-links {
    display: block;
  }
}

.loader {
  width: 120px;
  height: 120px;
  border-top: 4px solid rgb(237, 44, 73);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.products-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-button i:hover {
  background: #da6635;
  cursor: pointer;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}